[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
documentation = {editable = true, path = "."}

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = {ref = "master", git = "https://github.com/tillhainbach/sphinx-autodoc-typehints.git"}

[requires]
python_version = "3.9"
