[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
documentation = {editable = true,path = "."}

[packages]
sphinx-autodoc-typehints = {git = "https://github.com/agronholm/sphinx-autodoc-typehints.git",ref = "master"}
sphinx = "*"

[requires]
python_version = "3.8"
